$primary-color: #333; // Dark for text
$secondary-color: #F7EEDD; // Light for background

.location-container {
  margin: 2rem auto;
  text-align: center;
  background-color: $secondary-color;
  
  border-radius: 5px; // Add a subtle border radius
  padding: 1rem;
  
  h2 {
    margin-bottom: 1rem;
    color: $primary-color;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: $primary-color;
    
    &:hover {
      text-decoration: underline;
      color: darken($primary-color, 10%); // Darken on hover for better contrast
    }
  }
}
