.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #ed0d5b;
    
    .header-left {
      flex: 1;
      text-align: left;
      align-items: left;
      font-size: 5vw;
  
      .website-name {
        // color: white;
        color:#FF5B22;
        font-family:sans-serif;
        font-weight: bold; /* Adjusted font weight */
      }
    }
    .header-right{
        position: relative;
        .cart-icon {
            // position:absolute;
            width: 100px;
            font-size: 3.5rem;
            color: orangered;
          }
    }
  }